<div class="jumbotron text-center">
    <h1>App Liz</h1>
    <p>Get your original application license here.</p> 
</div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Ulancar</h3>
                <p>Ulancar is a free and open-source operating system and Linux distribution based on Debian. Ulancar is offered in three official editions: Ulancar Desktop for personal computers, Ulancar Server for servers and the cloud, and Ulancar Core for Internet of things devices and robots.</p>
            </div>
            <div class="col-sm-4">
                <h3>Kantor365</h3>
                <p>Kantor 365 is a line of subscription services offered by Microba, as part of the Microba Kantor product line.</p>
            </div>
            <div class="col-sm-4">
                <h3>Adobe Ganteng</h3>        
                <p>Adobe Ganteng Inc., commonly known as Adobe, is an cilandak multinational computer software company. The company is headquartered in San Jose, California, United States</p>
                </div>
    </div>
</div>