<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbarItem', {status: true}) %>
        <div class="container">
          <h2>Search Item</h2>
          <form method="POST" action="/item">
            <div class="form-group">
              <label for="name">By Name:</label>
              <input type="text" placeholder="Search.." name="item">
            </div>
            <div class="form-group">
              <label for="price">By Price :</label>
              <select name="price">
                    <option value = ></option>>
                    <option value = 100> < 100 </option>
                    <option value = 200> < 200 </option>
                    <option value = 500> < 500 </option>
                    <option value = 1000> < 1000 </option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>

    
</body>
</html>