<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
    <center>
        <h1>Success Buy Item</h1>
        <h3>License code has been sent to <%- email %></h3>
        <h3>Please check your email</h3><br>
        <a href="/item"><h4>back to item list</h4></a>
        
    </center>
</body>
</html>